<!DOCTYPE html>
<html>
<head>
    <title>Add New Item</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h2>Add New Inventory Item</h2>
    <form method="post">
        <label>Item Name:</label><br>
        <input type="text" name="item_name"><br>
        <label>Supplier:</label><br>
        <input type="text" name="supplier"><br>
        <label>Date Received:</label><br>
        <input type="date" name="date_received"><br>
        <label>Description:</label><br>
        <textarea name="description"></textarea><br>
        <label>Cost:</label><br>
        <input type="number" name="cost" step="0.01"><br>
        <label>Quantity:</label><br>
        
