<html>
    <body>
        {% include 'navbar.html' %}
        <form action="/submit" method="POST">
            <h1>Available Courses</h1>
            <label for="course">Select a Course:</label>
            <select name="course" id="course" required>
                {% if courses %}
                    {% for row in courses %}
                        <option value="{{ row.CourseID }}">{{ row.CourseName }} ({{ row.Credits }} Credits)</option>
                    {% endfor %}
                {% endif %}
            </select>

            <br><br>
            <input type="submit" value="Submit">
        </form>

        <h2>Course List</h2>
        <table id="courses" style="width:50%" border="1">
            {% if courses %}
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Instructor ID</th>
            </tr>
            {% for row in courses %}
            <tr>
                <td>{{ row.CourseID }}</td>
                <td>{{ row.CourseName }}</td>
                <td>{{ row.Credits }}</td>
                <td>{{ row.InstructorID }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </body>
</html>
